    <link href='app/lib/include/css/bescritorio.css?appver=1789997658' rel='stylesheet' type='text/css' media='screen'> 
    <link href='app/lib/include/css/ModalBuscarHorariosDisponiveis.css?appver=1789997658' rel='stylesheet' type='text/css' media='screen'> 
    <link href='app/lib/include/css/curciol-portal.css?appver=1789997658' rel='stylesheet' type='text/css' media='screen'> 
    <link href='app/lib/include/css/curciol-popover.css?appver=1790184000' rel='stylesheet' type='text/css' media='screen'>

    <script src='app/lib/include/js/custom_bescritorio.js?appver=1789997658' type='text/javascript'></script>
    <script src='app/lib/include/js/curciol-portal.js?appver=1789997658' type='text/javascript'></script>
    <script src='app/lib/include/js/curciol-popover.js?appver=1790184000' type='text/javascript'></script>
