<!DOCTYPE html>
<html  translate="no">
  <head>
    <title>Curciol</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    
    <link rel="shortcut icon" href="app/images/favicon.png">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    
    {LIBRARIES}
    {LIBRARIES_THEME}
    {LIBRARIES_BUILDER}
    {LIBRARIES_USER}
    {HEAD}
</head>
<body class="builder-template-login">
	<nav class='container-header navbar'>
        <div class='header-logo' href="home" generator="adianti" style="cursor: pointer;">
            <div class='header-box'></div>
            <div class='company-logo'>
                <div class='simulate-logo'>
                    <div class='logo-name'></div>
                </div>
            </div>
            <div class="toggle-top-menu"><i class="fa fa-ellipsis-v"></i></div>
        </div>
        <div class='header-track'>
            <div class='fast-drop-label' href="login-adm" generator="adianti">
                <i class="fas fa-sign-in-alt"></i> login admin  
            </div>
        </div>
    </nav>
    <div class='container-main container-login'>
        <div class="master-container">
            <div class='container-live login-content' id="adianti_content">
                <div class="adianti_tabs_container">
                    <div class="adianti_tab_content_actions">
                        <a onclick="__adianti_scroll_tab('left')" class="tab-arrow tab-arrow-left" href="#"><i class="fas fa-angle-double-left"></i></a>
                        <a onclick="__adianti_scroll_tab('right')" class="tab-arrow tab-arrow-right" href="#"><i class="fas fa-angle-double-right"></i></a>
                    </div>
                    <div id="adianti_tab_content"></div>
                </div>
                <div id="adianti_div_content"></div>
                <div id="adianti_online_content"></div>
                <div id="adianti_online_content2"></div>
                <div id="adianti_right_panel" class="right-panel"></div>
            </div>
        </div>
    </div>

    <script>
        BuilderTemplate.init({
            top_menu: {top_menu_var},
            top_menu_only: {top_menu_only},
            language: '{lang}',
            debug: '{debug}',
            application_name: '{application}',
            use_mdi_windows : {use_mdi_windows},
            store_tabs : {store_tabs},
            use_tabs : {use_tabs},
            verify_messages_menu : {verify_messages_menu},
            verify_notifications_menu : {verify_notifications_menu},
            public_layout: true,
            dialog_box_type: '{dialog_box_type}'
      });
    </script>
</body>
</html>